# --- Configuration Serveur ---
NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:5173

# --- Sécurité ---
JWT_SECRET=votre-clef-secrete-super-longue-ici

# --- Base de données ---
MONGODB_URI=mongodb://localhost:27017/kouma_academy

# --- Seed (Création de l'Administrateur Initial) ---
ADMIN_USERNAME=admin_kouma
ADMIN_PASSWORD=VotreMotDePasseTresFort123!
ADMIN_NOM=NomAdmin
ADMIN_PRENOM=PrenomAdmin
ADMIN_TEL=600000000
